# ----------------------
# Flask
# ----------------------
flask
requests
psycopg2
Flask-SQLAlchemy


# ----------------------
# Testing
# ----------------------
mock


# ----------------------
# Production Server
# ----------------------
gevent
gunicorn
