<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Loadsmart Weather App</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script>
    $(document).ready(function(){
        $("button").click(function(){
            var address = $( "#address" ).val();
            var base_url = location.hostname;
            if (base_url == 'localhost'){
                base_url = "http://localhost:5000/api/temperature/?query=";
            }
            else{
                base_url = "https://obscure-cove-65098.herokuapp" +
                        ".com/api/temperature/?query=";
            }
            $.ajax({url: base_url + address, crossDomain: true, headers: {
                    'Access-Control-Allow-Origin': '*' },
                    dataType: 'json', success: function(result){
{#                var obj = JSON.parse(result);#}
                var obj = result;
                if (obj['status'] == 'success') {
                    temperture = obj['data']['temp']
                    city = obj['data']['city']
                    state = obj['data']['state']
                    temperture += " <sup>o</sup> F"
                    $("#lbl-city-state").html(city + ", " + state + "<br>" + temperture);
                    $('#lbl-city-state').css('box-shadow', '10px 20px 30px lightgreen');
                }
                else{
                   $("#lbl-city-state").html(obj['reason'] + '.<br>please modify search query');
                   $('#lbl-city-state').css('box-shadow', '10px 20px 30px lightgreen');
                }
            }});
        });
    });
    </script>

    <style>
        h2.serif {
            font-family: "Times New Roman", Times, serif;
        }

        h2.sansserif {
            font-family: Arial, Helvetica, sans-serif;
        }
    </style>
</head>
<body>
<div class="container">
<br>
<div>
<a href="https://loadsmart.com/"><img src="/static/loadsmartV2.svg" class="img-responsive" width="150" height="75">On-demand Truckload Shipping </a>
</div>
<div id="div_0"><h2 class="sansserif">Loadsmart Weather</h2></div>
<div class="container">
    <div class="col-xs-6">
        <input class="form-control" id="address" type="text" placeholder="Enter an Address">
        <br>
        <button type="button" class="btn btn-success">Show Me Current Temperature</button>
        <h2>
        <div id="lbl-city-state" style="width:364px;text-align: center;"></div>
        </h2>
    </div>
    <div id="div2">
    </div>
</div>
<br>
<div class="container" align="center">
    2016 © Loadsmart, Inc. All rights reserved
    <img src="/static/ls-footer-logo.png" class="img-responsive" width="30" height="30">
</div>
</div>
</body>
</html>